h3{
    color: white;
}
.navbar-dark{
    background-image: linear-gradient(to bottom, black,#6A706E);
    padding-top: .5rem;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: space-around;

}
.padding-left{
    padding-left: 1%;
}
.padding-right{
    padding-right: 1%;
}
.nav-middle{
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:844px){
    h3{
        transform: translateX(5%);
    }
}