select{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
}
select:hover{
    transform: scale(101%);
}
label{
    color: black;
}
hr{
    width: 100%;
    height: auto;
    border-color: black;
    border: black 3px solid
}
.workout-dark-bg{
    width: 55%;
    background-color: black;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    color: white;
    border-radius: 15px;
}
.padding{
    padding-bottom: 1%;
    padding-top: 1%;
}
.workout-card{
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
}
.text-left{
    float: left;
    margin-left: 2%;
}
.move-right{
    float: right;
    margin-right: 2%;
}
.add-btn{
    border-radius:5px ;
    padding: auto;
    font-size: 1.5rem;
    color: green;
    background-color: black;
    border: 1px solid green;
    cursor: pointer;
    outline: green;
}
.add-btn:hover{
    background-color: green;
    color: black;
}
.add-btn:active{
    transform: scale(95%);
} 
.search-btn{
    border-radius:15px ;
    padding: .6rem;
    font-size: large;
    color: white;
    background-color: black;
    border: none;
    width: 105%;
    cursor: pointer;
    outline: none;
}
.search-btn:hover{
    transform: scale(101%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.search-btn:active{
    transform: scale(100%);
}
.workouts{
    transform: translateX(-50%);
   
}
.divLine{
    background-color: black;
    width: 100%;
    height: 5%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
  }
  
  .row > .column {
    flex: 1; /* Adjust this value based on the desired column layout */
  }